@model BookStorageApp.Models.Book

@{
    ViewData["Title"] = "Details";
    ViewBag.CurrentUrl = Context.Request.GetDisplayUrl();
    Layout = "_BookDetailsLayout";
}

@section Info{
    @await Html.PartialAsync("DetailsMainInfoPartial", Model)
}

@section NavigationMenu{
    <div class="container right-col">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item; @(ViewBag.Current == "Chapters" ? "active" : "")">
                            <a class="nav-link text-dark" asp-controller="Book" asp-action="Details" asp-route-id="@Model.Id" asp-route-menuItemSelected="Chapters">Главы</a>
                        </li>
                        <li class="nav-item; @(ViewBag.Current == "Comments" ? "active" : "")">
                            <a class="nav-link text-dark" asp-controller="Book" asp-action="Details" asp-route-id="@Model.Id" asp-route-menuItemSelected="Comments">Комментарии</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            @switch (@ViewBag.Current)
            {
                case "Chapters":
                    @await Html.PartialAsync("DetailsChaptersPartial", Model)
                    break;
                case "Comments":
                    @await Html.PartialAsync("DetailsCommentsPartial", Model)
                    break;
                default:
                    @await Html.PartialAsync("DetailsMainInfoPartial", Model)
                    break;
            }
        </div>
    </div>
}

