@model IEnumerable<BookStorageApp.Models.Book>
@{
    ViewBag.Title = "Все книги";
}

<div class="container">

    <a asp-action="Create" asp-controller="Book">Добавить книгу</a>

    <table class="table">
        <tr>
            @*<td>@Html.DisplayNameFor(model => model.Id)</td>*@
            <td>@Html.DisplayNameFor(model => model.Title)</td>
            @*<td>@Html.DisplayNameFor(model => model.Info)</td>
                <td>@Html.DisplayNameFor(model => model.ReleaseYear)</td>
                <td>@Html.DisplayNameFor(model => model.ChapterNumber)</td>*@
            <td>@Html.DisplayNameFor(model => model.AuthorName)</td>
            <td>@Html.DisplayNameFor(model => model.TagsOfBook)</td>
            <td>Действия</td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>@item.Id</td>*@
                <td>@item.Title</td>
                @*<td>@item.Info</td>
                    <td>@item.ReleaseYear</td>
                    <td>@item.ChapterNumber</td>*@
                <td>@item.AuthorName</td>

                <td>
                    @foreach (var tag in item.TagsOfBook)
                    {
                        @tag.Name
                        <br />
                    }
                </td>

                <td>
                    <a asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">Подробнее</a>
                </td>
            </tr>
        }

        @await Html.PartialAsync("_FiltersAndSearch", @Model.AsEnumerable())

    </table>
</div>